<%- include('./layouts/header') %>
<script>
  $(document).ready(function() {
    $('.visibility-checkbox').on('change', function() {
      const moderatorId = $(this).attr('id');
      const visibility = $(this).is(':checked');

      $.ajax({
        type: 'PUT', 
        url: `/moderator/mode/${moderatorId}/visibility`,
        data: { visibility },
        success: function(data) {
          console.log('Visibility updated successfully');
        },
        error: function(error) {
          console.error('Error updating visibility:', error);
        }
      });
    });
  });
</script>

<h1><span class="goback" onclick="window.history.back()">←</span> Profile</h1>

<div class="profile">

  <!-- profile visibility -->
<div>
  <label><h3>Profile Visibility:</h3></label>
  <div>
    <p>select to turn off visibility to clients</p>
    <input type="checkbox" name="visibility" class="visibility-checkbox" id="<%= moderators._id %>" <% if (moderators.visibility) { %> checked <% } %>> 

  </div>
</div>
<!-- visibility confirmation -->
<div>
  <label>Profile Visibility:</label>
  <% if(moderators.visibility) { %>
    <p>Visible to others</p>
  <% } else { %>
    <p>Not visible to others</p>
  <% } %>
</div>
<!-- Other form fields... -->

  <div>
    <p class="title">ID</p>
    <p class="subtitle"><%= person.id %></p>
  </div>
  <div>
    <p class="title">Email/username</p>
    <p class="subtitle"><%= person.email %></p>
  </div>
  <div>
    <p class="title">Role</p>
    <p class="subtitle"><%= person.role %></p>
  </div>
  <div>
    <p class="title">User object</p>
    <pre class="subtitle"><%= person %></pre>
  </div>
</div>
<div>
  <button class="button" onclick="toggleForm('personalForm', 'paymentForm')">
    Personal
  </button>
  <button class="button" onclick="toggleForm('paymentForm', 'personalForm')">
    moderator qualification
  </button>
</div>

<div id="personalForm" style="display: none">
  <h2>Personal Details</h2>
  <form action="/user/account/personal-details" method="post" class="lg-form">
    <h3>Change password</h3>
    <p>
      To change your password, simply click on the edit button below and enter
      a new password in both fields and click save.
    </p>
    <label for="password">password:</label>
    <input
      type="password"
      id="password"
      name="password"
      readonly
      class="deactivated-input"
    /><br />

    <label for="password2">Confirm password:</label>
    <input
      type="password"
      id="password2"
      name="password2"
      readonly
      class="deactivated-input"
    /><br />
    <!-- /// -->
    <h3>Name</h3>
    <label for="firstName">First Name:</label>
    <input
      type="text"
      id="firstName"
      name="firstName"
      value="<%= person.firstName %>"
      disabled
    /><br />

    <label for="lastName">Last Name:</label>
    <input
      type="text"
      id="lastName"
      name="lastName"
      value="<%= person.lastName %>"
      disabled
    /><br />
    <!-- ///// -->
    <h3>Contact</h3>
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      value="<%= person.email %>"
      disabled
    /><br />

    <label for="PhoneNumber">Phone Number:</label>
    <input
      type="tel"
      id="tel"
      name="PhoneNumber"
      value="8908989089"
      disabled
    /><br />
    <!-- ///// -->
    <h3>Address</h3>
    <label for="street">Street:</label>
    <input
      type="text"
      id="street"
      name="street"
      value="<%= person.street %>"
      readonly
      class="deactivated-input"
    /><br />

    <label for="Town">Town:</label>
    <input
      type="text"
      id="Town"
      name="town"
      value="<%= person.town %>"
      readonly
      class="deactivated-input"
    /><br />

    <div>
      <label for="Country">Country:</label>
      <input
        type="text"
        id="Country"
        name="country"
        value="<%= person.country %>"
        readonly
        class="deactivated-input"
      />
    </div>

    <label for="postcode">Postcode:</label>
    <input
      type="text"
      id="postcode"
      name="postcode"
      value="<%= person.postcode %>"
      readonly
      class="deactivated-input"
    /><br />

    <button type="submit" class="button">Save</button>
  </form>
  <button id="editButton" onclick="toggleEditForm()" class="button editBtn">
    Edit
  </button>
</div>

<!-- moderator qualification  edit -->
<div id="paymentForm" style="display: none">
  <form action="/moderator/qualifications" method="post" class="lg-form">
    <label>Selecte Courses that best fit your qualification:</label>
    <div class="moderatorSelectCourses">
      
      <% Course.forEach(course => { %>
        <label><%= course.name %></label>
          <input
            type="checkbox"
            name="selectedCourses"
            value="<%= course._id %>"
            <% if (moderators.selectedCourses.find(selCourse => selCourse.course._id.toString() === course._id.toString())) { %>
              checked
            <% } %>
          >     
      <% }) %>
    </div>
  <div>
    <label for="qualifications">Qualifications:</label>
    <input type="text" name="qualification" id="qualification" value="<%= moderators.qualification %>" readonly class="deactivated-input">
  </div>
  <div>
    <label for="experience">Experience (in years):</label>
    <input type="number" name="experience" id="experience" value="<%= moderators.experience %>" readonly class="deactivated-input">
  </div>
  <label for="availability">Availability:</label>
  <div class="">
    Monday<input type="checkbox" name="availability" value="monday"  <% if (moderators.availability.includes('monday')) { %> checked <% } %>> 
    Tuesday <input type="checkbox" name="availability" value="tuesday"  <% if (moderators.availability.includes('tuesday')) { %> checked <% } %>> 
    wednesday <input type="checkbox" name="availability" value="wednesday"  <% if (moderators.availability.includes('wednesday')) { %> checked <% } %>> 
    Thursday <input type="checkbox" name="availability" value="Thursday"  <% if (moderators.availability.includes('Thursday')) { %> checked <% } %>> 
      Friday  <input type="checkbox" name="availability" value="friday"  <% if (moderators.availability.includes('friday')) { %> checked <% } %>> 
      Saturday <input type="checkbox" name="availability" value="saturday"  <% if (moderators.availability.includes('saturday')) { %> checked <% } %>> 
      Sunday <input type="checkbox" name="availability" value="sunday"  <% if (moderators.availability.includes('sunday')) { %> checked <% } %>> 
   
  </div>
  <div>
    <label for="rate">Rate (per hour):</label>
    <input type="number" step="0.01" name="rate" id="rate" value="<%= moderators.rate %>" readonly class="deactivated-input">
  </div>
  <div>
    <label for="paymentInfo">Payment Information:</label>
    <input type="text" name="paymentInfo" id="paymentInfo" readonly value="">
  </div>
  <div>
    <label for="specializations">Specializations:</label>
    <input type="text" name="specializations"  id="specializations" value="<%= moderators.specializations %>" readonly class="deactivated-input">
  </div>
    <button type="submit" class="button">Save</button>
  </form>
  <button id="editButton2" onclick="toggleEditModeratorQualification()" class="button editBtnModerator">
    Edit
  </button>
</div>
</div>
<%- include('./layouts/footer') %>
<script>
  function toggleEditModeratorQualification(){
    
  let qualificationInput = document.getElementById("qualification");
  let experienceInput = document.getElementById("experience");
  let rateInput = document.getElementById("rate");
  let paymentInfoInput = document.getElementById("paymentInfo");
  let specializationsInput = document.getElementById("specializations");
  let editButton2 = document.getElementById("editButton2");

  qualificationInput.classList.toggle("deactivated-input");
  experienceInput.classList.toggle("deactivated-input");
  rateInput.classList.toggle("deactivated-input");
  paymentInfoInput.classList.toggle("deactivated-input");
  specializationsInput.classList.toggle("deactivated-input");

  
  qualificationInput.removeAttribute("readonly");
  experienceInput.removeAttribute("readonly");
  rateInput.removeAttribute("readonly");
  paymentInfoInput.removeAttribute("readonly");
  specializationsInput.removeAttribute("readonly");
 
  if (editButton2.innerHTML === "Edit") {
    editButton2.innerHTML = "Cancel";
  } else {
    editButton2.innerHTML = "Edit";
  }

  }
</script>

<script>
function toggleEditForm() {
  let passwordInput = document.getElementById("password");
  let password2Input = document.getElementById("password2");
  let streetInput = document.getElementById("street");
  let townInput = document.getElementById("Town");
  let countryInput = document.getElementById("Country");
  let postcodeInput = document.getElementById("postcode");
  let editButton = document.getElementById("editButton");
  

  passwordInput.classList.toggle("deactivated-input")
  password2Input.classList.toggle("deactivated-input")
  streetInput.classList.toggle("deactivated-input");
  townInput.classList.toggle("deactivated-input");
  countryInput.classList.toggle("deactivated-input");
  postcodeInput.classList.toggle("deactivated-input");
  
 
  passwordInput.removeAttribute("readonly");
  password2Input.removeAttribute("readonly");
  streetInput.removeAttribute("readonly");
  townInput.removeAttribute("readonly");
  countryInput.removeAttribute("readonly");
  postcodeInput.removeAttribute("readonly");

  if (editButton.innerHTML === "Edit") {
    editButton.innerHTML = "Cancel";
  } else {
    editButton.innerHTML = "Edit";
  }
}
</script>
<script>
function toggleForm(formId, otherFormId) {
  var form = document.getElementById(formId);
  var otherForm = document.getElementById(otherFormId);
  form.style.display = form.style.display === "none" ? "block" : "none";
  otherForm.style.display = "none";
}
</script>

